# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Temporary files, for example, from tests.
/tmp/

# Local dev artifacts
/.code/
/apps/echs_core/native/
/apps/echs_core/priv/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Git worktrees
/.worktrees/
apps/echs_bash_parser/native/echs_bash_parser/target/
apps/echs_bash_parser/priv/
